@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1e1b3a;
  color: white;
overflow: hidden;
}

body a {
  text-decoration: none;
  color: white;
  padding-right: 12px;
}

body a:hover {
  color: white !important;
}

.container__admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  width: 250px;
  height: 100%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: #26275e;
  opacity: 0.8;
  -webkit-box-shadow: rgbb(2, 4, 24);
          box-shadow: rgbb(2, 4, 24);
  padding: 0;
  border-right: 2px solid rgba(255, 255, 255, 0.09);
  padding: 0 12px;
}

.sidebar .logo {
  text-align: center;
}

.sidebar .logo img {
  width: 96px;
}

.sidebar nav .nav-title {
  font-size: 1.6rem;
}

.sidebar nav .nav-item {
  margin: 0 12px;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 1.8rem;
  border-radius: 4px;
  margin-top: 12px;
}

.sidebar nav .nav-item i {
  margin-right: 8px;
}

.sidebar nav .nav-item:hover {
  background-color: #e90c31;
}

.sidebar nav .nav-item:hover a {
  color: white;
}

.sidebar nav .nav-item.active {
  background-color: #e90c31;
}

.sidebar .toggle--icon {
  position: absolute;
  top: 10%;
  right: -15px;
  background-color: #e24d4d;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.open {
  width: 100px;
}

.open .nav-item {
  text-align: center;
}

.open .nav-title {
  display: none;
}

.open .nav-sub_item {
  display: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 12px 24px;
  color: white;
  font-size: 1.8rem;
}

.home .manage--content .manager--box {
  padding: 12px 24px;
  background-color: #052746;
}

.home .manage--content .manager--box:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.home .manage--content .manager--box:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.home .manage--content .manager--box {
  border-left: 1px dashed #1fddd4;
}

#myChart {
  margin-top: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 12px;
  color: white;
  background-color: #052746;
}

.direct {
  text-align: center;
  font-size: 1.4rem;
}

.direct a:last-child {
  color: #c7baa1;
}

.btn {
  background-color: #868602;
}

.btn a {
  color: white;
  font-size: 1.6rem;
}

.btn:hover {
  opacity: 0.8;
}

table {
  text-align: center;
  margin-top: 20px;
}

table thead {
  background-color: #1c1d1d;
}

table tr {
  color: #e9e3e3 !important;
  cursor: pointer;
}

table tr:hover {
  background-color: #181a19;
}

.permission button {
  padding: auto 12px;
  font-size: 16px;
  min-width: 100px;
  color: white;
  border-radius: 8px;
}

.permission .admin {
  background-color: #810081;
}

.permission .member {
  background-color: #97b102;
}

form input {
  padding: 4px 12px;
  height: 36px;
}

form label {
  margin: 10px 0;
}

.form-select {
  width: 200px;
  font-size: 2.4rem;
}

.btn-submitform {
  padding: 4px 12px;
  font-size: 1.8rem;
  color: white;
  border-radius: 8px;
}
/*# sourceMappingURL=admin.css.map */